@import "tailwindcss";
/* Global scrollbar removal */
html,
body,
.page-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.page-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}